.blocobjectif {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #159e27;
}

.bloctree {
    width: 40%;
    margin-left: 5%;
    margin-top: 1%;
    position: relative;

}

.bloc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bloc2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4%;
    border: #159e27;
    border-width: 2px;
    border-style: solid;
}

.bloc2bis {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}

.blocparagraphe {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #41270a;
    position: relative;
}

.bloch3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #159e27;
}

.fondbloc1 {
    display: flex;
    width: 100%;
}

.bloc3img {
    position:absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: -50px;
}

.blocp3 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1%;
}

.blocp3bis {
    display: flex;
    justify-content: center;
}

.bloch3bis {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    margin-top: 2%;
    color: #159e27;
}

.bloc4p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #48af55;
    border-radius: 10px;
    border-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10%;
    margin-top: 15%;
    height: 15%;
    width: 80%;

}

.bloc4p:hover {
    background-color: #63b96f;
}

.bloc4pbis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 40%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.9rem;
    color: white;
}

.bloc4 {
    position:absolute;
    background-color: #f0c795;
    border-radius: 25px;
    margin-top: 20%;
    margin-left: 10%;
    width: 300px;
    height: 300px;
}

.help-us {
    display: flex;
    flex-direction: column;
    margin-top: 120%;
    background: url(src/imghome/pattern-green.png) repeat 0 0;
}