/* external css: flickity.css, fullscreen.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #222;
}

.carousel-cell-image1 {
  width: 100%;
}

.carousel-cell-image3 {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  /* center images in cells with flexbox */
  align-items: center;
  display: flex;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  max-width: 200%;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}

.hello {
  position: absolute;
  color: rgb(252, 252, 252);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  margin-left: 7%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20%;
}

.hellobtn {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  color: white;
  padding: 04%;
  margin-top: 20%;
  background-color: #48af55;
  border-radius: 25px;
  border-style: none;
  width: 40%;
  margin-left: 30%;
  justify-content: center;
}

.hellobtn2 {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  color: white;
  padding: 04%;
  margin-top: 20%;
  background-color: #48af55;
  border-radius: 25px;
  border-style: none;
  width: 40%;
  margin-left: 40%;
  justify-content: center;
}

.hellobtn:hover {
  background-color: #189433;
}

.hellobtn2:hover {
  background-color: #189433;
}


.paragraphe3 {
  position: absolute;
  margin-bottom: 60%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 0.95rem;
  margin-left: 3%;
}

.paragraphe2 {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 2rem;
}