.cards {
    display:block;
    background-color:#48af55;
    flex: 1 1;
    border-radius: 15px;
    margin: 3%;
    box-shadow: 7px 7px 5px 0px rgba(44, 43, 43, 0.75);
}
h2, h3{
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin-bottom: 25px;;
    color: #009c41;
    margin-top: 5%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-green{
    border-radius: 50%;  
}
.btn-red{

    background-color: gray;
    border-radius: 50%;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye {
    
    width: 30px;
    height: 30px;
}
.details{
    margin : 10px 0px;
    text-align: center;
    color: antiquewhite;
    font-weight: bold;
    font-size: 0.9rem;
}
.explications{
    text-align: center;
    margin: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
