.imgInfo{
    width: 100%;
}
  
  .contact>h1 {
    border-radius: 20px;
    text-align: center;
    color: #ee931d;
  }
  
  .contact{
    background-color: lightgray; 
    width: 100%;
    height: 39rem;
    text-align: center;
    justify-content: center;
  }
  

.contactLabel{
    font-weight: bold;
    display: block;
    margin-block-start: 1rem;
  }
  
.contactRequired {
    margin: 0;
    font-weight: 100;
  }
  
.contactInput {
    background-color: white;
    margin-block-start: 1em;
    text-align: center;
    height: 1.8rem;
    width: 90%;
    border-radius: 8px;
    border: none;
  }
  
.contactText {
    background-color: white;
    margin-block-start: 1em;
    width: 90%;
    border-radius: 8px;
    border: none;
  }
  
  .buttonForm {
    background-color: white;
    margin-top: 1rem;
    font-size: large;
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
  }
  
  .contact_texte_qb {
    font-size: 1.1rem;
    color: var(--dark);
    margin: 2rem;
  }