
.title{
    text-align: center;
    margin-top: 6rem;
}
.imageQuizz{
    text-align: center;
    border-radius: 20px;

}

.img{
    width: 10rem;
    height: 10rem;
}

.button{
    margin-top: 1rem;
    border-radius:10px;
    border: none;
    width: 7rem;
    height: 10rem; 
}

.buttonImg{
    width: 7rem;
    height: 10rem; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;      
}

.answer-section {
    background-image: url(https://images.pexels.com/photos/3573351/pexels-photo-3573351.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    margin-top: 1rem;
    width: 100%;
    height: 30rem;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 100px 100px;
}
  
.agirQuizz{
    margin-top: 2rem;
    width: 10rem;
    height: 6rem;
    border-radius: 20px;
    background-color: green;
    font-size: medium;
    font-weight: bold;
}

.pQuizz{
    padding: 1rem;
    text-align: justify;
    line-height: 1.9rem;
}

.imgQuestion{
    width:15rem;
    height: 14rem;
}

.listeReponse{
    padding: 0.4rem;
    text-align: left;
}

.scoreFinal{
    display: flex;
    justify-content: space-around;
}